<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<ul class="inline-list">
<div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
    </div>
</div>
</ul>
      
<ul class="inline-list">
<div class="row" data-equalizer data-equalizer-mq="large-up">
  <div class="medium-6 columns panel" data-equalizer-watch>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </div>
      </div>
</div>
    </ul>
      


 <section class="row">
<div class="small-4 colums">
    <div class="actions">
        <%= f.submit 'Aceptar',:class => 'button small' %>
    </div>
    </div>

</section>



<% end %>