<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Cuerpo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
          <td>  
              <% if post.body.length > 0 %>
            <a href="#" data-open="post-<%= post.id %>">Ver Posts </a>
            <div id="post-<%= post.id%>" class="reveal" data-reveal>
                <%= post.body %>
                <button class="close-button" data-close aria-label="cerrar" type="button">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
              <% end %>
          </td>
          <% if admin_signed_in?%>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>  
        <%end%>         
              <% if user_signed_in? %>
            <td><%= link_to 'Show', post %></td>
             <td><%= link_to 'Edit', edit_post_path(post) %>               
             </td>
                    
          <%end%>
          
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if user_signed_in? %>
             <%= link_to 'New Post', new_post_path %>
              <% else %>
            
           
          
          <%end%>
